.logo{
	 font: 3em "Georgia", "Apple Symbols", serif; line-height: 1.1;
	 margin-left: 10px;
	   background: linear-gradient(rgba(142, 250, 225, 0.95),rgba(80, 15, 178, 0.5)), url("spark.gif") top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.divider{
	padding: 1.5px;
	box-shadow: 0px 2px 8px 0.3px rgba(102,242,235,1);
  background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mt-j{
	margin-top: 11px;
}

.bordered{
   border: 2px solid #ddd !important;
   border-radius: 3px;

}

.neuron{
	padding: 20px;
	height: 20px;
	width: 20px;
	border-radius: : 20px !important;
		box-shadow: 0px 2px 8px 0.3px rgba(102,242,235,1);
background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.connection {
    z-index: -1;
    border: 3px solid;
    border-radius: 57em;
    color:  rgba(33, 127, 221, 0.76);
  }

.nav-dark{

background-color: #320C78;
}
